<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <form [formGroup]="form" id="form">
            <!-- Demo url -->
            <mat-form-field>
                <mat-label>{{ getLabel('aadeDemoUrl') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="1" formControlName="aadeDemoUrl" matInput />
                <mat-error *ngIf="aadeDemoUrl.hasError('required')">{{ getHint("required") }}</mat-error>
            </mat-form-field>
            <!-- Demo username -->
            <mat-form-field>
                <mat-label>{{ getLabel('aadeDemoUsername') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="2" formControlName="aadeDemoUsername" matInput>
                <mat-error *ngIf="aadeDemoUsername.hasError('required')">{{ getHint("required") }}</mat-error>
            </mat-form-field>
            <!-- Demo api key -->
            <mat-form-field>
                <mat-label>{{ getLabel('aadeDemoApiKey') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="3" formControlName="aadeDemoApiKey" matInput>
                <mat-error *ngIf="aadeDemoApiKey.hasError('required')">{{ getHint("required") }}</mat-error>
            </mat-form-field>
            <!-- Live url -->
            <mat-form-field>
                <mat-label>{{ getLabel('aadeLiveUrl') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="1" formControlName="aadeLiveUrl" matInput />
                <mat-error *ngIf="aadeLiveUrl.hasError('required')">{{ getHint("required") }}</mat-error>
            </mat-form-field>
            <!-- Live username -->
            <mat-form-field>
                <mat-label>{{ getLabel('aadeLiveUsername') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="2" formControlName="aadeLiveUsername" matInput>
                <mat-error *ngIf="aadeLiveUsername.hasError('required')">{{ getHint("required") }}</mat-error>
            </mat-form-field>
            <!-- Live api key -->
            <mat-form-field>
                <mat-label>{{ getLabel('aadeLiveApiKey') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="3" formControlName="aadeLiveApiKey" matInput>
                <mat-error *ngIf="aadeLiveApiKey.hasError('required')">{{ getHint("required") }}</mat-error>
            </mat-form-field>
            <div class="stacked-checkboxes">
                <!-- Is Aade live -->
                <mat-checkbox formControlName="isAadeLive">
                    <span>{{ getLabel("isAadeLive") }}</span>
                </mat-checkbox>
            </div>
            <div class="align-bottom">
                <!-- Metadata -->
                <metadata-panel [feature]="feature" [postAt]="form.value.postAt" [postUser]="form.value.postUser" [putAt]="form.value.putAt" [putUser]="form.value.putUser"></metadata-panel>
            </div>

        </form>

    </div>

    <div id="footer">
        <div id="align-right">
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>
