<div *ngIf=isAdmin() id="button-wrapper">
    <button [matMenuTriggerFor]="menu" class="fab fab-with-no-background" mat-icon-button>
        <mat-icon class="material-icons-outlined">blur_circular</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="primary">
        <button (click)="doNavigation('reservations')" mat-menu-item><span>{{ getLabel('calendar') }}</span></button>
        <button (click)="doNavigation('availability')" mat-menu-item> <span>{{ getLabel('availability') }}</span></button>
        <mat-divider></mat-divider>
        <button (click)="doNavigation('coachRoutes')" mat-menu-item>{{ getLabel("coachRoutes") }}</button>
        <button (click)="doNavigation('shipRoutes')" mat-menu-item>{{ getLabel("shipRoutes") }}</button>
        <button (click)="doNavigation('registrars')" mat-menu-item>{{ getLabel("registrars") }}</button>
        <button (click)="doNavigation('ports')" mat-menu-item>{{ getLabel("ports") }}</button>
        <button (click)="doNavigation('drivers')" mat-menu-item>{{ getLabel("drivers") }}</button>
        <button (click)="doNavigation('customers')" mat-menu-item>{{ getLabel("customers") }}</button>
        <button (click)="doNavigation('shipCrews')" mat-menu-item>{{ getLabel("shipCrews") }}</button>
        <button (click)="doNavigation('ships')" mat-menu-item>{{ getLabel("ships") }}</button>
        <button (click)="doNavigation('shipOwners')" mat-menu-item>{{ getLabel("shipOwners") }}</button>
        <button (click)="doNavigation('destinations')" mat-menu-item>{{ getLabel("destinations") }}</button>
        <button (click)="doNavigation('schedules')" mat-menu-item>{{ getLabel("schedules") }}</button>
        <button (click)="doNavigation('pickupPoints')" mat-menu-item>{{ getLabel("pickupPoints") }}</button>
        <button (click)="doNavigation('genders')" mat-menu-item>{{ getLabel("genders") }}</button>
        <mat-divider></mat-divider>
        <button (click)="doNavigation('boarding')" mat-menu-item>{{ getLabel("boarding") }}</button>
        <button (click)="doNavigation('manifest')" mat-menu-item>{{ getLabel("manifest")}}</button>
        <button (click)="doNavigation('reservation-ledgers')" mat-menu-item>{{ getLabel("ledgers")}}</button>
        <button (click)="doNavigation('statistics')" mat-menu-item>{{ getLabel("statistics")}}</button>
        <mat-divider></mat-divider>
        <button (click)="doNavigation('reservation-parameters')" mat-menu-item>{{ getLabel("reservation-parameters")}}</button>
    </mat-menu>
</div>
