<div id="list-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [featureIcon]="featureIcon" [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <div id="table-wrapper">
            <p-table #table (onFilter)="onFilterRecords($event)" [scrollable]="true" [value]="records" [virtualScrollItemSize]="32" [virtualScroll]="true" dataKey="id" scrollHeight="flex" selectionMode="single" sortMode="multiple">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="width-5" pSortableColumn="isActive">{{ getLabel("headerIsActive") }}</th>
                        <th class="width-20" pSortableColumn="description">{{ getLabel("headerDescription") }}</th>
                        <th class="width-5" pSortableColumn="batch">{{ getLabel("headerBatch") }}</th>
                        <th class="width-5" pSortableColumn="lastDate">{{ getLabel("headerLastDate") }}</th>
                        <th class="width-5" pSortableColumn="lastNo">{{ getLabel("headerLastNo") }}</th>
                        <th class="width-5" pSortableColumn="table8_1">{{ getLabel("headerTable8_1") }}</th>
                        <th class="width-5" pSortableColumn="table8_8">{{ getLabel("headerTable8_8") }}</th>
                        <th class="width-5" pSortableColumn="table8_9">{{ getLabel("headerTable8_9") }}</th>
                    </tr>
                    <tr>
                        <th class="width-5"><p-columnFilter field="isActive" type="boolean"></p-columnFilter></th>
                        <th class="width-20"><input (input)="table.filter($event.target.value, 'description', 'contains')" [value]="$any(table).filters['description']?.value" class="p-inputtext"></th>
                        <th class="width-5"><input (input)="table.filter($event.target.value, 'batch', 'contains')" [value]="$any(table).filters['batch']?.value" class="p-inputtext"></th>
                        <th class="width-5">
                            <div class="date-picker-wrapper">
                                <input (dateInput)="onFilterByDate($event)" [matDatepicker]="picker" [ngModel]="filterDate" class="center p-inputtext" readonly>
                                <mat-datepicker-toggle [for]="picker" class="color-table-header" matSuffix></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <span (click)="onClearDateFilter()" [ngClass]="hasDateFilter()" class="date-clear-icon pi pi-filter-slash"></span>
                            </div>
                        </th>
                        <th class="width-5"><input (input)="table.filter($event.target.value, 'lastNo', 'contains')" [value]="$any(table).filters['lastNo']?.value" class="p-inputtext"></th>
                        <th class="width-5"><input (input)="table.filter($event.target.value, 'table8_1', 'contains')" [value]="$any(table).filters['table8_1']?.value" class="p-inputtext"></th>
                        <th class="width-5"><input (input)="table.filter($event.target.value, 'table8_8', 'contains')" [value]="$any(table).filters['table8_8']?.value" class="p-inputtext"></th>
                        <th class="width-5"><input (input)="table.filter($event.target.value, 'table8_9', 'contains')" [value]="$any(table).filters['table8_9']?.value" class="p-inputtext"></th>
                    </tr>
                </ng-template>
                <ng-template let-record pTemplate="body">
                    <tr (click)="onHighlightRow(record.id)" (dblclick)="onEditRecord(record.id)" [attr.id]=record.id class="without-footer" style="height: 32px;">
                        <td class="width-5"><span class="center no-left-padding" style="font-size: 0.5rem; padding-top: 0 !important;">{{ getEmoji(record.isActive) }}</span></td>
                        <td class="width-20"><span>{{ record.description }}</span></td>
                        <td class="width-5"><span class="center">{{ record.batch }}</span></td>
                        <td class="width-5"><span class="center">{{ record.formattedLastDate }}</span></td>
                        <td class="width-5"><span class="center">{{ record.lastNo }}</span></td>
                        <td class="width-5"><span class="center">{{ record.table8_1 }}</span></td>
                        <td class="width-5"><span class="center">{{ record.table8_8 }}</span></td>
                        <td class="width-5"><span class="center">{{ record.table8_9 }}</span></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>

    <div id="footer">
        <table-total-filtered-records (resetTableFilters)="onResetTableFilters()" [filteredRecordCount]="recordsFilteredCount" [recordCount]="records.length"></table-total-filtered-records>
        <div id="align-right">
            <button (click)="onNewRecord()" class="primary" mat-flat-button>{{ getLabel("newRecord") | uppercase }}</button>
        </div>
    </div>

</div>
