<div id="table-wrapper">
    <p-table #table [scrollable]="true" [value]="customer.reservations" [virtualScrollItemSize]="32" [virtualScroll]="false" scrollHeight="flex" selectionMode="single" sortMode="multiple">
        <ng-template pTemplate="header">
            <tr>
                <th class="width-5" pSortableColumn="date">{{ getLabel('headerDate') }}</th>
                <th class="width-6" pSortableColumn="destination.abbreviation">{{ getLabel('headerDestination') }}</th>
                <th class="width-6" pSortableColumn="pickupPoint.description">{{ getLabel('headerPickupPoint') }}</th>
                <th class="width-6" pSortableColumn="ship.abbreviation">{{ getLabel('headerShip') }}</th>
                <th class="width-6" pSortableColumn="port.abbreviation">{{ getLabel('headerPort') }}</th>
                <th class="width-5" pSortableColumn="refNo">{{ getLabel('headerRefNo') }}</th>
                <th class="width-5" pSortableColumn="ticketNo">{{ getLabel('headerTicket') }}</th>
                <th class="width-4" pSortableColumn="hasTransfer">{{ getLabel('headerHasTransfer') }}</th>
                <th class="width-3" pSortableColumn="adults">{{ getLabel('headerAdults') }}</th>
                <th class="width-3" pSortableColumn="kids">{{ getLabel('headerKids') }}</th>
                <th class="width-3" pSortableColumn="free">{{ getLabel('headerFree') }}</th>
                <th class="width-3" pSortableColumn="totalPax">Σ</th>
                <th class="width-3" pSortableColumn="embarkedPassengers">Σ<span class="subscript">1</span></th>
                <th class="width-3" pSortableColumn="totalNoShow">{{ getLabel('headerNoShow') }}</th>
                <th class="width-3">{{ getLabel('headerRemarks') }}</th>
            </tr>
            <tr>
                <th class="no-padding"></th>
                <th class="no-padding"></th>
                <th class="no-padding"></th>
                <th class="no-padding"></th>
                <th class="no-padding"></th>
                <th class="no-padding"></th>
                <th class="no-padding"></th>
                <th class="no-padding"></th>
                <th class="no-padding"></th>
                <th class="no-padding"></th>
                <th class="no-padding"></th>
                <th class="no-padding"></th>
                <th class="no-padding"></th>
                <th class="no-padding"></th>
                <th class="no-padding"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-reservation>
            <tr [pSelectableRow]="reservation" style="height:32px">
                <td class="width-5"><span class="center">{{ formatDateToLocale(reservation.date) }}</span></td>
                <td class="width-6"><span class="center">{{ reservation.destination.abbreviation }}</span></td>
                <td class="width-6"><span>{{ reservation.pickupPoint.description }}</span></td>
                <td class="width-6">
                    <span *ngIf="reservation.ship.abbreviation == '(EMPTY)'" class="center" style="font-size: 0.5rem; padding-top: 0 !important;">{{ getEmoji('null') }}</span>
                    <span *ngIf="reservation.ship.abbreviation != '(EMPTY)'" class="center">{{ reservation.ship.abbreviation }}</span>
                <td class="center width-6"><span class="center">{{ reservation.port.abbreviation }}</span></td>
                <td class="center width-5"><span class="center">{{ reservation.refNo }}</span></td>
                <td class="width-5"><span>{{ reservation.ticketNo }}</span></td>
                <td [ngClass]="reservation.hasTransfer ? 'has-transfer' : 'no-transfer'" class="emoji width-4">
                    <span class="center">
                        <span *ngIf=" reservation.hasTransfer" style="font-size: 0.5rem; padding-top: 0 !important;">{{ getEmoji('green-box') }} </span>
                        <span *ngIf="!reservation.hasTransfer" style="font-size: 0.5rem; padding-top: 0 !important;">{{ getEmoji('red-box') }}</span>
                    </span>
                </td>
                <td class="width-3"><span class="center">{{ reservation.adults | replaceZero }}</span></td>
                <td class="width-3"><span class="center">{{ reservation.kids | replaceZero }}</span></td>
                <td class="width-3"><span class="center">{{ reservation.free | replaceZero }}</span></td>
                <td class="width-3"><span class="center">{{ reservation.totalPax }}</span></td>
                <td class="width-3"><span class="center">{{ reservation.embarkedPassengers | replaceZero }}</span></td>
                <td class="width-3"><span class="center">{{ reservation.totalNoShow | replaceZero }}</span></td>
                <td class="width-3">
                    <span class="center">
                        <span (click)="showRemarks(reservation.remarks)" [ngClass]="hasRemarks(reservation.remarks)?'clickable':''" *ngIf="hasRemarks(reservation.remarks)" class="remarks">{{ getEmoji('remarks') }}</span>
                    </span>
                </td>
            </tr>
            <tr *ngIf="hasRemarks(reservation.remarks)" [ngClass]="getRemarksRowVisibility() ? '' : 'no-display'" style="height: 32px;">
                <td class="right" colspan="15" style="padding: 0 0.3125rem 0 0.3125rem;">{{ reservation.remarks }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer" let-columns>
            <tr>
                <td colspan="8"></td>
                <td class="center">
                    <span>{{ customer.adults | replaceZero }}</span>
                </td>
                <td class="center">
                    <span>{{ customer.kids | replaceZero }}</span>
                </td>
                <td class="center">
                    <span>{{ customer.free | replaceZero }}</span>
                </td>
                <td class="center">
                    <span>{{ customer.totalPax | replaceZero }}</span>
                </td>
                <td class="center">
                    <span>{{ customer.totalEmbarked | replaceZero }}</span>
                </td>
                <td class="center">
                    <span>{{ customer.totalNoShow | replaceZero }}</span>
                </td>
                <td></td>
            </tr>
        </ng-template>
    </p-table>
</div>
