<div id="dialog-wrapper">

    <div id="dialog-header">
        <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
    </div>

    <div id="dialog-content">
        <form [formGroup]="form" id="form">
            <mat-form-field>
                <mat-label>{{ getLabel("remarks") }}</mat-label>
                <textarea #input formControlName="remarks" id="remarks" matInput></textarea>
                <mat-hint class="right">{{ getHint("remainingCharacters", +input.getAttribute('maxlength') - getRemarksLength()) }}</mat-hint>
            </mat-form-field>
        </form>
    </div>

    <div id="dialog-footer">
        <div id="align-right">
            <button (click)="onClose()" class="transparent" mat-flat-button tabindex="-1">
                <span>{{ getLabel("cancelButton") | uppercase }}</span>
            </button>
            <button (click)="onProcess()" [disabled]="!form.valid" class="primary" mat-flat-button tabindex="-1">
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("okButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>
