#content {
    width: 100%;
}

#header-right {
    align-items: center;
    display: flex;
    flex-direction: row;
}

#grid-wrapper {
    column-gap: 0.5rem;
    display: flex;
    flex-direction: row;
    height: 100%;
}

#criteria-caption {
    color: var(--color-text);
    font-family: var(--font-family-asty);
    font-size: 0.875rem;
    font-weight: 300;
    margin: 0.125rem 0.5rem 0 0;
    transition: color var(--theme-delay) !important;
}