<div id="passenger-list">

    <div *ngIf="passengers" id="table-wrapper">
        <p-table #table [scrollable]="true" [value]="passengers" [virtualScrollItemSize]="32" [virtualScroll]="false" dataKey="id" scrollHeight="flex" selectionMode="single" sortMode="multiple">
            <ng-template pTemplate="header">
                <tr>
                    <th class="width-5"></th>
                    <th class="width-20" pSortableColumn="lastname">{{ getLabel('headerLastname') }}</th>
                    <th class="width-20" pSortableColumn="firstname">{{ getLabel('headerFirstname') }}</th>
                    <th class="width-10" pSortableColumn="nationality.description">{{ getLabel('headerCountry') }}</th>
                    <th class="width-5"></th>
                </tr>
                <tr>
                    <th></th>
                    <th><input type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'lastname', 'contains')" [value]="$any(table).filters['lastname']?.value"></th>
                    <th><input type="text" class="p-inputtext" (input)="table.filter($event.target.value, 'firstname', 'contains')" [value]="$any(table).filters['firstname']?.value"></th>
                    <th></th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record>
                <tr (click)="onHighlightRow(record.id)" (dblclick)="onEditRecord(record)" [attr.id]="record.id" [pSelectableRow]="record" style="height: 32px;">
                    <td class="width-4">
                        <span class="center" style="font-size: 0.5rem; padding-top: 0 !important;">{{ getBoardingStatusIcon(record.isBoarded) }}</span>
                    </td>
                    <td class="width-20"><span>{{ record.lastname }}</span></td>
                    <td class="width-20"><span>{{ record.firstname }}</span></td>
                    <td class="align-vertical width-10">
                        <span class="flag" style="width: 100%;">
                            <img [src]="getNationalityIcon(record.nationality.code)" class="flag-with-border" />
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;{{ record.nationality.description }}</span>
                        </span>
                    </td>
                    <td class="width-5">
                        <span class="center" style="padding-top: 0.0625rem !important;" (click)="onDeleteRow(record)">
                            <span class="material-symbols-outlined red" style="font-size: 1.25rem;">delete</span>
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div id="footer">
        <div class="passenger-count-wrapper">
            <span class="material-icons-outlined primary">group</span>
            <span class="passenger-count">{{ passengers != null ? passengers.length : 0 }}</span>
        </div>
        <div id="align-right">
            <button (click)="onShowImportDialog()" class="transparent" mat-flat-button tabindex="-1">
                <span>{{ getLabel("importPassengersButton") | uppercase }}</span>
            </button>
            <button (click)="onNewRow()" [disabled]="checkTotalPaxAgainstPassengerCount()" class="no-right-border-radius secondary" mat-flat-button>
                <mat-icon *ngIf="checkTotalPaxAgainstPassengerCount()" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("newPassengerButton") | uppercase }}</span>
            </button>
            <button [disabled]="checkTotalPaxAgainstPassengerCount()" [matMenuTriggerFor]="menu" class="no-left-border-radius secondary-darker" mat-flat-button>
                <mat-icon class="big material-symbols-outlined">expand_less</mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="primary" xPosition="before" yPosition="above">
                <ng-container *ngTemplateOutlet="menuTemplate"></ng-container>
            </mat-menu>
        </div>
    </div>

</div>

<div id="menus">

    <ng-template #menuTemplate>
        <button (click)="onCreateRandomPassenger()" mat-menu-item>
            <span>New random passenger</span>
        </button>
    </ng-template>

</div>
