:host {
    height: 100%;
}

#table-wrapper {
    margin: 0;
}

#passenger-list {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#footer {
    justify-content: space-between;
    margin: auto 4rem 0 2rem;
    padding: 1rem 0 0 1rem;
}

.passenger-count-wrapper {
    align-items: center;
    display: flex;
    gap: 0.5rem;
}

.passenger-count-wrapper .material-icons-outlined {
    font-size: 2.1875rem;
}

.passenger-count-wrapper .material-icons-outlined.primary {
    color: var(--color-accent);
    transition: color var(--theme-delay) !important;
}

.passenger-count-wrapper .material-icons-outlined.error:first-child {
    font-size: 1.4rem;
    margin-top: 0.125rem;
}

.passenger-count {
    color: var(--color-text) !important;
    font-family: var(--font-family-asty);
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0.1875rem;
    transition: color var(--theme-delay) !important;
}
