<div id="list-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [featureIcon]="featureIcon" [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
            <div id="header-buttons">
                <button [matMenuTriggerFor]="menu" class="fab fab-with-no-background" mat-icon-button>
                    <mat-icon class="material-icons-outlined">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" class="primary">
                    <ng-container *ngTemplateOutlet="tasksMenu"></ng-container>
                </mat-menu>
            </div>

        </div>

        <div id="table-wrapper">
            <p-table #table (onFilter)="filterRecords($event)" [(selection)]="selectedRecords" [scrollable]="true" [value]="records" [virtualScrollItemSize]="32" [virtualScroll]="true" dataKey="id" scrollHeight="flex" selectionMode="single" sortMode="multiple">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="width-3"></th>
                        <th class="width-15" pSortableColumn="customer.description">{{ getLabel("headerCustomerDescription") }}</th>
                        <th class="width-15" pSortableColumn="destination.description">{{ getLabel("headerDestinationDescription") }}</th>
                        <th class="width-15" pSortableColumn="port.description">{{ getLabel("headerPortDescription") }}</th>
                        <th class="width-9" pSortableColumn="from">{{ getLabel("headerFrom") }}</th>
                        <th class="width-9" pSortableColumn="to">{{ getLabel("headerTo") }}</th>
                    </tr>
                    <tr>
                        <th class="width-3"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                        <th class="width-15">
                            <p-columnFilter [showMenu]="false" field="customer" matchMode="in">
                                <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                                    <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="dropdownCustomers" [placeholder]="getEmoji('wildcard')" optionLabel="description">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-option">
                                                <span>{{ option.description }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th class="width-15">
                            <p-columnFilter [showMenu]="false" field="destination" matchMode="in">
                                <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                                    <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="dropdownDestinations" [placeholder]="getEmoji('wildcard')" optionLabel="description">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-option">
                                                <span>{{ option.description }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th class="width-15">
                            <p-columnFilter [showMenu]="false" field="port" matchMode="in">
                                <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                                    <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="dropdownPorts" [placeholder]="getEmoji('wildcard')" optionLabel="description">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-option">
                                                <span>{{ option.description }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th class="width-9"></th>
                        <th class="width-9"></th>
                    </tr>
                </ng-template>
                <ng-template let-record pTemplate="body">
                    <tr (click)="highlightRow(record.id)" (dblclick)="editRecord(record.id)" [attr.id]=record.id class="without-footer" style="height: 32px;">
                        <td class="width-3"><span class="no-left-padding center" style="padding-top: 0.25rem !important;"><p-tableCheckbox [value]="record"></p-tableCheckbox></span></td>
                        <td class="width-15"><span>{{ record.customer.description }}</span></td>
                        <td class="width-15"><span>{{ record.destination.description }}</span></td>
                        <td class="width-15"><span>{{ record.port.description }}</span></td>
                        <td class="width-9"><span class="center">{{ record.formattedFrom }}</span></td>
                        <td class="width-9"><span class="center">{{ record.formattedTo }}</span></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>

    <div id="footer">
        <table-total-filtered-records (resetTableFilters)="resetTableFilters()" [filteredRecordCount]="recordsFilteredCount" [recordCount]="records.length"></table-total-filtered-records>
        <div id="align-right">
            <button (click)="newRecord()" class="primary" mat-flat-button>{{ getLabel("newRecord") | uppercase }}</button>
        </div>
    </div>

</div>


<ng-template #tasksMenu xPosition="before">
    <button (click)="onClonePrices()" mat-menu-item>
        <span>{{ getLabel('clonePrices') }}</span>
    </button>
    <button (click)="onDeleteRange()" mat-menu-item>
        <span>{{ getLabel('rangeDelete') }}</span>
    </button>
</ng-template>
