<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <form [formGroup]="form" id="form">
            <!-- Description -->
            <mat-form-field>
                <mat-label>{{ getLabel('description') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="1" formControlName="description" matInput>
                <mat-error *ngIf="description.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="description.hasError('maxlength')">{{ getHint("maxLength", description.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <div class="group-input-field">
                <!-- TaxNo -->
                <mat-form-field>
                    <mat-label>{{ getLabel('taxNo') }}</mat-label>
                    <input [inputTabStop]="input" dataTabIndex="2" formControlName="taxNo" matInput>
                    <mat-error *ngIf="taxNo.hasError('required')">{{ getHint("required") }}</mat-error>
                </mat-form-field>
                <!-- TaxOffice -->
                <mat-form-field>
                    <mat-label>{{ getLabel('taxOffice') }}</mat-label>
                    <input #inputAutoComplete #triggerTaxOffice="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="taxOffices" dataTabIndex="3" formControlName="taxOffice" matInput>
                    <div matSuffix style="display:flex">
                        <button (click)="openOrCloseAutoComplete(triggerTaxOffice, 'taxOffice')" mat-icon-button type="button">
                            <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                        </button>
                    </div>
                    <mat-error *ngIf="taxOffice.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="!taxOffice.hasError('required') && taxOffice.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
            </div>
            <div class="group-input-field">
                <!-- VatRegime -->
                <mat-form-field>
                    <mat-label>{{ getLabel('vatRegime') }}</mat-label>
                    <input #inputAutoComplete #triggerVatRegime="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="vatRegimes" dataTabIndex="4" formControlName="vatRegime" matInput>
                    <div matSuffix style="display:flex">
                        <button (click)="openOrCloseAutoComplete(triggerVatRegime, 'vatRegime')" mat-icon-button type="button">
                            <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                        </button>
                    </div>
                    <mat-error *ngIf="vatRegime.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="!vatRegime.hasError('required') && vatRegime.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
                <!-- Nationality -->
                <mat-form-field>
                    <mat-label>{{ getLabel('nationality') }}</mat-label>
                    <input #inputAutoComplete #triggerNationality="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="nationalities" dataTabIndex="5" formControlName="nationality" matInput>
                    <div matSuffix style="display:flex">
                        <button (click)="openOrCloseAutoComplete(triggerNationality, 'nationality')" mat-icon-button type="button">
                            <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                        </button>
                    </div>
                    <mat-error *ngIf="nationality.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="!nationality.hasError('required') && nationality.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
            </div>
            <div class="group-input-field">
                <!-- Profession -->
                <mat-form-field>
                    <mat-label>{{ getLabel('profession') }}</mat-label>
                    <input [inputTabStop]="input" dataTabIndex="6" formControlName="profession" matInput>
                    <mat-error *ngIf="profession.hasError('maxlength')">{{ getHint("maxLength", profession.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <!-- Address -->
                <mat-form-field>
                    <mat-label>{{ getLabel('address') }}</mat-label>
                    <input [inputTabStop]="input" dataTabIndex="7" formControlName="address" matInput>
                    <mat-error *ngIf="address.hasError('maxlength')">{{ getHint("maxLength", address.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
            </div>
            <!-- Phones -->
            <mat-form-field>
                <mat-label>{{ getLabel('phones') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="8" formControlName="phones" matInput>
                <mat-error *ngIf="phones.hasError('maxlength')">{{ getHint("maxLength", phones.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <div class="group-input-field">
                <!-- PersonInCharge -->
                <mat-form-field>
                    <mat-label>{{ getLabel('personInCharge') }}</mat-label>
                    <input [inputTabStop]="input" dataTabIndex="9" formControlName="personInCharge" matInput>
                    <mat-error *ngIf="personInCharge.hasError('maxlength')">{{ getHint("maxLength", personInCharge.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <!-- Email -->
                <mat-form-field>
                    <mat-label>{{ getLabel('email') }}</mat-label>
                    <input [inputTabStop]="input" dataTabIndex="10" formControlName="email" matInput>
                    <mat-error *ngIf="email.hasError('maxlength')">{{ getHint("maxLength", email.errors.maxlength.requiredLength) }}</mat-error>
                    <mat-error *ngIf="!email.hasError('maxlength') && email.hasError('email')">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
            </div>
            <!-- BalanceLimit -->
            <mat-form-field>
                <mat-label>{{ getLabel('balanceLimit') }}</mat-label>
                <input (blur)="formatPriceField('balanceLimit',2)" [inputTabStop]="input" dataTabIndex="11" formControlName="balanceLimit" inputDecimal matInput type="number">
                <mat-error *ngIf="balanceLimit.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="balanceLimit.hasError('min') || balanceLimit.hasError('max')">{{ getHint("invalidRange") }}</mat-error>
            </mat-form-field>
            <div class="stacked-checkboxes">
                <!-- Active -->
                <mat-checkbox formControlName="isActive">
                    <span>{{ getLabel("isActive") }}</span>
                </mat-checkbox>
            </div>
            <div class="align-bottom">
                <!-- Metadata -->
                <metadata-panel [feature]="feature" [postAt]="form.value.postAt" [postUser]="form.value.postUser" [putAt]="form.value.putAt" [putUser]="form.value.putUser"></metadata-panel>
            </div>
        </form>

    </div>

    <div id="footer">
        <div id="align-right">
            <button (click)="onDelete()" *ngIf="form.value.id !== 0" class="delete" mat-flat-button>{{ getLabel("deleteButton") | uppercase }}</button>
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>

<mat-autocomplete #taxOffices="matAutocomplete" [displayWith]="autocompleteFields.bind(this, 'description')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownTaxOffices | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #vatRegimes="matAutocomplete" [displayWith]="autocompleteFields.bind(this, 'description')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownVatRegimes | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #nationalities="matAutocomplete" [displayWith]="autocompleteFields.bind(this, 'description')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownNationalities | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>
