<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <form [formGroup]="form" id="form">
            <!-- Description -->
            <mat-form-field>
                <mat-label>{{ getLabel('description') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="1" formControlName="description" matInput>
                <mat-error *ngIf="description.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="description.hasError('maxlength')">{{ getHint("maxLength", description.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <!-- Profession -->
            <mat-form-field>
                <mat-label>{{ getLabel('profession') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="2" formControlName="profession" matInput>
                <mat-error *ngIf="profession.hasError('maxlength')">{{ getHint("maxLength", profession.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <!-- Address -->
            <mat-form-field>
                <mat-label>{{ getLabel('address') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="3" formControlName="address" matInput>
                <mat-error *ngIf="address.hasError('maxlength')">{{ getHint("maxLength", address.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <!-- Tax No -->
            <mat-form-field>
                <mat-label>{{ getLabel('taxNo') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="4" formControlName="taxNo" matInput>
                <mat-error *ngIf="taxNo.hasError('maxlength')">{{ getHint("maxLength", taxNo.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <!-- Phones -->
            <mat-form-field>
                <mat-label>{{ getLabel('phones') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="5" formControlName="phones" matInput>
                <mat-error *ngIf="phones.hasError('maxlength')">{{ getHint("maxLength", phones.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <!-- City -->
            <mat-form-field>
                <mat-label>{{ getLabel('city') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="6" formControlName="city" matInput>
                <mat-error *ngIf="city.hasError('maxlength')">{{ getHint("maxLength", city.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <!-- Email -->
            <mat-form-field>
                <mat-label>{{ getLabel('email') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="7" formControlName="email" matInput>
                <mat-error *ngIf="email.hasError('maxlength')">{{ getHint("maxLength", email.errors.maxlength.requiredLength) }}</mat-error>
                <mat-error *ngIf="!email.hasError('maxlength') && email.hasError('email')">{{ getHint("invalid") }}</mat-error>
            </mat-form-field>
            <!-- Active -->
            <mat-checkbox formControlName="isActive">
                <span>{{ getLabel("isActive") }}</span>
            </mat-checkbox>
            <div class="align-bottom">
                <!-- Metadata -->
                <metadata-panel [feature]="feature" [postAt]="form.value.postAt" [postUser]="form.value.postUser" [putAt]="form.value.putAt" [putUser]="form.value.putUser"></metadata-panel>
            </div>
        </form>

    </div>

    <div id="footer">
        <div id="align-right">
            <button (click)="onDelete()" *ngIf="form.value.id !== 0" class="delete" mat-flat-button>{{ getLabel("deleteButton") | uppercase }}</button>
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>
