.mdc-checkbox {
    padding: 0 !important;
    background-color: transparent !important;
}

.mdc-checkbox:active {
    margin-top: -9px !important;
    padding: 0 !important;
}

.mdc-checkbox__ripple {
    border-radius: 0 !important;
    opacity: 0 !important;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
    background-color: var(--color-button-primary) !important;
    border: 0.0625rem solid var(--color-button-primary) !important;
}

.mat-mdc-checkbox label {
    display: flex !important;
    padding-left: 8px !important;
    margin-top: -0.0625rem !important;
}

.mat-mdc-checkbox label span {
    color: var(--color-text);
    font-family: var(--font-family-asty);
    font-size: 0.8125rem;
    font-weight: 300;
    margin: 0.125rem 0 0 -0.125rem;
    transition: all var(--theme-delay) !important;
}

.mdc-form-field {
    align-items: flex-start !important;
}

.mat-icon.lock {
    margin-top: 0.1875rem !important;
}

.stacked-checkboxes {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin: 0 0 0 1rem;
}

.mdc-checkbox__background {
    position: sticky !important;
    border: 0.0625rem solid var(--color-text) !important;
    border-radius: 0 !important;
}
