<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <form [formGroup]="form" id="form">
            <div class="group-input-field">
                <!-- Abbreviation -->
                <mat-form-field>
                    <mat-label>{{ getLabel('abbreviation') }}</mat-label>
                    <input [inputTabStop]="input" dataTabIndex="1" formControlName="abbreviation" matInput>
                    <mat-error *ngIf="abbreviation.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="abbreviation.hasError('maxlength')">{{ getHint("maxLength", abbreviation.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <!-- Description -->
                <mat-form-field>
                    <mat-label>{{ getLabel('description') }}</mat-label>
                    <input [inputTabStop]="input" dataTabIndex="2" formControlName="description" matInput>
                    <mat-error *ngIf="description.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="description.hasError('maxlength')">{{ getHint("maxLength", description.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
            </div>
            <!-- Shipowner -->
            <mat-form-field>
                <mat-label>{{ getLabel('shipOwner') }}</mat-label>
                <input #inputAutoComplete #triggerShipOwner="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="shipOwners" dataTabIndex="3" formControlName="shipOwner" matInput>
                <div matSuffix style="display:flex">
                    <button (click)="openOrCloseAutoComplete(triggerShipOwner, 'shipOwner')" mat-icon-button type="button">
                        <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                    </button>
                </div>
                <mat-error *ngIf="shipOwner.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="!shipOwner.hasError('required') && shipOwner.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
            </mat-form-field>
            <div class="group-input-field">
                <!-- IMO -->
                <mat-form-field>
                    <mat-label>{{ getLabel('imo') }}</mat-label>
                    <input [inputTabStop]="input" dataTabIndex="4" formControlName="imo" matInput>
                    <mat-error *ngIf="imo.hasError('maxlength')">{{ getHint("maxLength", imo.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <!-- Flag -->
                <mat-form-field>
                    <mat-label>{{ getLabel('flag') }}</mat-label>
                    <input [inputTabStop]="input" dataTabIndex="5" formControlName="flag" matInput>
                    <mat-error *ngIf="flag.hasError('maxlength')">{{ getHint("maxLength", flag.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <!-- Registry No -->
                <mat-form-field>
                    <mat-label>{{ getLabel('registryNo') }}</mat-label>
                    <input [inputTabStop]="input" dataTabIndex="6" formControlName="registryNo" matInput>
                    <mat-error *ngIf="registryNo.hasError('maxlength')">{{ getHint("maxLength", registryNo.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
            </div>
            <!-- Manager -->
            <mat-form-field>
                <mat-label>{{ getLabel('manager') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="7" formControlName="manager" matInput>
                <mat-error *ngIf="manager.hasError('maxlength')">{{ getHint("maxLength", manager.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <!-- Manager in Greece -->
            <mat-form-field>
                <mat-label>{{ getLabel('managerInGreece') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="8" formControlName="managerInGreece" matInput>
                <mat-error *ngIf="managerInGreece.hasError('maxlength')">{{ getHint("maxLength", managerInGreece.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <!-- Agent -->
            <mat-form-field>
                <mat-label>{{ getLabel('agent') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="9" formControlName="agent" matInput>
                <mat-error *ngIf="agent.hasError('maxlength')">{{ getHint("maxLength", agent.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <div class="stacked-checkboxes">
                <!-- Active -->
                <mat-checkbox formControlName="isActive">
                    <span>{{ getLabel("isActive") }}</span>
                </mat-checkbox>
            </div>
            <div class="align-bottom">
                <!-- Metadata -->
                <metadata-panel [feature]="feature" [postAt]="form.value.postAt" [postUser]="form.value.postUser" [putAt]="form.value.putAt" [putUser]="form.value.putUser"></metadata-panel>
            </div>
        </form>

    </div>

    <div id="footer">
        <div id="align-right">
            <button (click)="onDelete()" *ngIf="form.value.id !== 0" class="delete" mat-flat-button>{{ getLabel("deleteButton") | uppercase }}</button>
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>

<mat-autocomplete #shipOwners="matAutocomplete" [displayWith]="autocompleteFields.bind(this, 'description')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownShipOwners | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>
