<div id="dialog">

    <div id="dialog-header">
        <h1>{{ getLabel('header') }}</h1>
        <h6>{{ getLabel('subHeader') }}</h6>
    </div>

    <div id="dialog-content">
        <form [formGroup]="form" id="form">
            <div *ngFor="let record of records" class="option">
                <p-radioButton [inputId]="record.id.toString()" [value]="record" formControlName="record"></p-radioButton>
                <label class="option-label" [for]="record.id">
                    <span>{{ record.description }}</span>
                </label>
            </div>
        </form>
    </div>

    <div id="dialog-footer">
        <div id="align-right">
            <button (click)="close()" class="transparent" mat-flat-button tabindex="-1">
                <span>{{ getLabel("cancelButton") | uppercase }}</span>
            </button>
            <button (click)="save()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("okButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>
