<div id="list-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
            <div class="filter-pill">
                <div *ngFor="let x of overbookedDestinations">
                    <div *ngIf="x.overbookedPax < 0" class="overbooked pill">
                        <mat-icon class="material-symbols-outlined">release_alert</mat-icon>
                        <div class="description">{{ x.description }} +{{ x.overbookedPax | abs }}</div>
                    </div>
                </div>
                <div class="pill date">
                    <mat-icon class="material-symbols-outlined">calendar_month</mat-icon>
                    <div class="description">{{ formatDateToLocale(getDateFromStorage(), true, true) }}</div>
                </div>
            </div>
        </div>

        <div id="table-wrapper">
            <p-table #table (onHeaderCheckboxToggle)="calculateSelectedPax()" (onFilter)="filterRecords($event)" [(selection)]="selectedRecords" [scrollable]="true" [value]="records" [virtualScrollItemSize]="32" [virtualScroll]="true" dataKey="reservationId" scrollHeight="flex" selectionMode="multiple" sortMode="multiple">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="width-3"></th>
                        <th class="width-5" pSortableColumn="refNo">{{ getLabel('headerRefNo') }}</th>
                        <th class="width-8" pSortableColumn="ticketNo">{{ getLabel('headerTicketNo') }}</th>
                        <th class="width-5" pSortableColumn="customer.description">{{ getLabel('headerCustomer') }}</th>
                        <th class="width-6" pSortableColumn="destination.description">{{ getLabel('headerDestination') }}</th>
                        <th class="width-5" pSortableColumn="coachRoute.abbreviation">{{ getLabel('headerRoute') }}</th>
                        <th class="width-8" pSortableColumn="pickupPoint.description">{{ getLabel('headerPickupPoint') }}</th>
                        <th class="width-3" pSortableColumn="pickupPoint.time">{{ getLabel('headerTime') }}</th>
                        <th class="width-2" pSortableColumn="adults">{{ getLabel('headerAdults') }}</th>
                        <th class="width-2" pSortableColumn="kids">{{ getLabel('headerKids') }}</th>
                        <th class="width-2" pSortableColumn="free">{{ getLabel('headerFree') }}</th>
                        <th class="width-2" pSortableColumn="totalPax">{{ getLabel('headerTotal') }}</th>
                        <th class="width-4" pSortableColumn="passengerCount">{{ getLabel('headerTotal') }}1</th>
                        <th class="width-5" pSortableColumn="driver.description">{{ getLabel('headerDriver') }}</th>
                        <th class="width-5" pSortableColumn="port.description">{{ getLabel('headerPort') }}</th>
                        <th class="width-5" pSortableColumn="ship.description">{{ getLabel('headerShip') }}</th>
                    </tr>
                    <tr>
                        <th class="width-3"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                        <th class="width-5"><input (input)="table.filter($event.target.value, 'refNo', 'contains')" [disabled]="isFilterDisabled()" [value]="$any(table).filters['refNo']?.value" class="p-inputtext"></th>
                        <th class="width-8"><input (input)="table.filter($event.target.value, 'ticketNo', 'contains')" [disabled]="isFilterDisabled()" [value]="$any(table).filters['ticketNo']?.value" class="p-inputtext"></th>
                        <th class="width-5">
                            <p-columnFilter [showMenu]="false" field="customer" matchMode="in">
                                <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                                    <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="distinctCustomers" [placeholder]="getEmoji('wildcard')" optionLabel="description">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-option">
                                                <span>{{ option.description }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th class="width-6">
                            <p-columnFilter [showMenu]="false" field="destination" matchMode="in">
                                <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                                    <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="distinctDestinations" [placeholder]="getEmoji('wildcard')" optionLabel="description">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-option">
                                                <span>{{ option.description }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th class="width-5">
                            <p-columnFilter [showMenu]="false" field="coachRoute" matchMode="in">
                                <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                                    <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="distinctCoachRoutes" [placeholder]="getEmoji('wildcard')" optionLabel="abbreviation">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-option">
                                                <span>{{ option.abbreviation }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th class="width-8">
                            <p-columnFilter [showMenu]="false" field="pickupPoint" matchMode="in">
                                <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                                    <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="distinctPickupPoints" [placeholder]="getEmoji('wildcard')" optionLabel="description">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-option">
                                                <span>{{ option.description }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th class="width-3"></th>
                        <th class="width-2"></th>
                        <th class="width-2"></th>
                        <th class="width-2"></th>
                        <th class="width-2"></th>
                        <th class="width-4"></th>
                        <th class="width-5">
                            <p-columnFilter [showMenu]="false" field="driver" matchMode="in">
                                <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                                    <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="distinctDrivers" [placeholder]="getEmoji('wildcard')" optionLabel="description">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-option">
                                                <span>{{ option.description }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th class="width-5">
                            <p-columnFilter [showMenu]="false" field="port" matchMode="in">
                                <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                                    <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="distinctPorts" [placeholder]="getEmoji('wildcard')" optionLabel="description">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-option">
                                                <span>{{ option.description }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th class="width-5">
                            <p-columnFilter [showMenu]="false" field="ship" matchMode="in">
                                <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                                    <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="distinctShips" [placeholder]="getEmoji('wildcard')" optionLabel="description">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-option">
                                                <span>{{ option.description }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                    </tr>
                </ng-template>
                <ng-template let-reservation pTemplate="body">
                    <tr (click)="highlightRow(reservation.reservationId)" (dblclick)="editRecord(reservation.reservationId)" [attr.id]=reservation.reservationId class="without-footer" style="height: 32px;">
                        <td class="width-3"><span class="no-left-padding center" style="padding-top: 0.25rem !important;"><p-tableCheckbox (click)="calculateSelectedPax()" [value]="reservation"></p-tableCheckbox></span></td>
                        <td class="width-5"><span class="center">{{ reservation.refNo }}</span></td>
                        <td class="width-8"><span>{{ reservation.ticketNo }}</span></td>
                        <td class="width-5"><span>{{ reservation.customer.description }}</span></td>
                        <td class="width-6"><span class="center">{{ reservation.destination.abbreviation }}</span></td>
                        <td class="width-5"><span class="center">{{ reservation.coachRoute.abbreviation }}</span></td>
                        <td class="width-8"><span>{{ reservation.pickupPoint.description }}</span></td>
                        <td class="width-3"><span class="center">{{ reservation.pickupPoint.time }}</span></td>
                        <td class="width-2"><span class="right with-right-padding">{{ reservation.adults | replaceZero }}</span></td>
                        <td class="width-2"><span class="right with-right-padding">{{ reservation.kids | replaceZero }}</span></td>
                        <td class="width-2"><span class="right with-right-padding">{{ reservation.free | replaceZero }}</span></td>
                        <td class="width-2"><span class="right with-right-padding">{{ reservation.totalPax }}</span></td>
                        <td class="width-4">
                            <span class="right with-right-padding">
                                <span>{{ reservation.passengerCount }} ({{ reservation.passengerDifference }})</span>
                                <span style="font-size: 0.5rem; margin-top: -0.125rem !important;">&nbsp;&nbsp;{{ showEmoji(reservation.passengerDifference) }}</span>
                            </span>
                        </td>
                        <td class="width-5">
                            <span *ngIf="reservation.driver.id == 0" class="center" style="font-size: 0.5rem; padding-top: 0 !important;">{{ getEmoji('null') }}</span>
                            <span *ngIf="reservation.driver.id != 0">{{ reservation.driver.description }}</span>
                        </td>
                        <td class="width-5"><span class="center">{{ reservation.port.abbreviation }}</span></td>
                        <td class="width-5">
                            <span *ngIf="reservation.ship.id == 0" class="center" style="font-size: 0.5rem; padding-top: 0 !important;">{{ getEmoji('null') }}</span>
                            <span *ngIf="reservation.ship.id != 0" class="center">{{ reservation.ship.abbreviation }}</span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>

    <div id="footer">
        <button [disabled]="!isAdmin()" [matMenuTriggerFor]="menu" class="fab fab-with-no-background" mat-icon-button>
            <mat-icon class="material-icons-outlined">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="primary">
            <ng-container *ngTemplateOutlet="contextMenu"></ng-container>
        </mat-menu>
        <div class="filter-pill">
            <div class="pill">
                <mat-icon class="material-icons-outlined">functions</mat-icon>
                <div class="description number">
                    <span>{{ totalPax[0] | padNumber : 3 : ' ' }}</span>
                </div>
            </div>
            <div (click)="resetTableFilters()" class="pill number reset-table-filter">
                <mat-icon *ngIf="totalPax[0]==totalPax[1]" class="material-icons-outlined">filter_alt</mat-icon>
                <mat-icon *ngIf="totalPax[0]!=totalPax[1]" class="material-icons-outlined">filter_alt_off</mat-icon>
                <div class="description number">
                    <span>{{ totalPax[1] | padNumber : 3 : ' ' }}</span>
                </div>
            </div>
            <div class="pill number">
                <mat-icon class="material-symbols-outlined">select_all</mat-icon>
                <div class="description number">
                    <span>{{ totalPax[2] | padNumber : 3 : ' ' }}</span>
                </div>
            </div>
        </div>
        <div id="align-right">
            <button (click)="newRecord()" class="primary" mat-flat-button>{{ getLabel('newButton') | uppercase }}</button>
        </div>
    </div>

</div>

<ng-template #contextMenu>
    <button (click)="assignToDriver()" [disabled]="!isAdmin()" mat-menu-item>
        <span>{{ getLabel('assignToDriverButton') }}</span>
    </button>
    <button (click)="assignToPort()" [disabled]="!isAdmin()" mat-menu-item>
        <span>{{ getLabel('assignToPortButton') }}</span>
    </button>
    <button (click)="assignToShip()" [disabled]="!isAdmin()" mat-menu-item>
        <span>{{ getLabel('assignToShipButton') }}</span>
    </button>
    <button (click)="createPdf()" [disabled]="!isAdmin()" mat-menu-item>
        <span>{{ getLabel('createPdfButton') }}</span>
    </button>
    <button (click)="deleteRange()" [disabled]="!isAdmin()" mat-menu-item>
        <span>{{ getLabel('rangeDelete') }}</span>
    </button>
</ng-template>
