#dialog-wrapper {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem 2rem 2rem;
    row-gap: 1.5rem;
    width: 30rem;
}

#dialog-header {
    display: flex;
    justify-content: space-between;
}

#dialog-footer {
    margin: 0 1rem 0 0;
}

#dialog-footer #align-right {
    column-gap: 0.5rem;
    display: flex;
    justify-content: flex-end;
}

#passport {
    display: block;
}

#is-boarded {
    padding: 0 1.5rem 0 1.5rem;
}

.group-input-field {
    display: flex;
    gap: 0.5rem;
    overflow-y: initial;
}
