* {
    --color-background: #2b2a33;
    --color-calendar-day: #7BB7DD;
    --color-mat-menu-background: #3f3f49;
    --color-dialog-background: #6b6b6b;
    --color-flag-border: #ffffff;
    --color-input-background: #42414d;
    --color-input-error: #ff7878;
    --color-table-row-percentage: #b5838d;
    --color-text: #ffffff;
    --color-transparent-button-hover: #7d7d7d;
    --color-transparent-button: #ffffff;
}
