* {
    --color-background: #fefefe;
    --color-calendar-day: #dbdbdb;
    --color-mat-menu-background: #ffffff;
    --color-dialog-background: #fefefe;
    --color-flag-border: #000000;
    --color-input-background: #F9F9F9;
    --color-input-error: #ff8a82;
    --color-table-row-percentage: #ffcdb2;
    --color-text: #000000;
    --color-transparent-button-hover: #dfdfdf;
    --color-transparent-button: #F9F9F9;
}
