<div *ngIf=isAdmin() id="shortcuts-menu">
    <img (load)="loadImage()" [ngClass]="imageIsLoading()" [src]="getIcon('reservations')" routerLink="/reservations">
    <img (load)="loadImage()" [ngClass]="imageIsLoading()" [src]="getIcon('availability')" routerLink="/availability">
    <img (load)="loadImage()" [ngClass]="imageIsLoading()" [src]="getIcon('boarding')" routerLink="/availability">
    <img (load)="loadImage()" [ngClass]="imageIsLoading()" [src]="getIcon('customers')" routerLink="/customers">
    <img (load)="loadImage()" [ngClass]="imageIsLoading()" [src]="getIcon('schedules')" routerLink="/schedules">
    <img (load)="loadImage()" [ngClass]="imageIsLoading()" [src]="getIcon('prices')" routerLink="/prices">
    <img (load)="loadImage()" [ngClass]="imageIsLoading()" [src]="getIcon('ledgers')" routerLink="/reservation-ledgers">
</div>
