<form [formGroup]="form" id="form">
    <mat-form-field id="date-range-picker">
        <mat-label>{{ getLabel('date') }}</mat-label>
        <mat-date-range-input [rangePicker]="picker">
            <input (dateInput)="emitFormValues()" [readonly]=readOnly class="center" formControlName="fromDate" matInput matStartDate>
            <input (dateInput)="emitFormValues()" [readonly]=readOnly class="center" formControlName="toDate" matEndDate matInput>
        </mat-date-range-input>
        <mat-date-range-picker #picker>
            <mat-datepicker-actions>
                <button (click)="doTodayTasks()" class="accent" mat-flat-button matDatepickerApply>{{ getLabel('today') | uppercase }}</button>
                <button class="primary" mat-flat-button matDatepickerApply>{{ getLabel("ok") | uppercase }}</button>
            </mat-datepicker-actions>
        </mat-date-range-picker>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-hint *ngIf="showHint">{{ getLabel("hint") }}</mat-hint>
        <mat-error *ngIf="fromDate.hasError('required') || toDate.hasError('required')">{{ getHint("invalid") }}</mat-error>
    </mat-form-field>
</form>
