<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <form [formGroup]="form" id="form">
            <!-- Fullname -->
            <mat-form-field>
                <mat-label>{{ getLabel('fullname') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="1" formControlName="fullname" matInput>
                <mat-error *ngIf="fullname.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="fullname.hasError('maxlength')">{{ getHint("maxLength", fullname.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <!-- Ship -->
            <mat-form-field>
                <mat-label>{{ getLabel('ship') }}</mat-label>
                <input #inputAutoComplete #triggerShip="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="ships" dataTabIndex="2" formControlName="ship" matInput>
                <div matSuffix style="display:flex">
                    <button (click)="openOrCloseAutoComplete(triggerShip, 'ship')" mat-icon-button type="button">
                        <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                    </button>
                </div>
                <mat-error *ngIf="ship.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="!ship.hasError('required') && ship.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
            </mat-form-field>
            <!-- Phones -->
            <mat-form-field>
                <mat-label>{{ getLabel('phones') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="3" formControlName="phones" matInput>
                <mat-error *ngIf="phones.hasError('maxlength')">{{ getHint("maxLength", phones.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <!-- Email -->
            <mat-form-field>
                <mat-label>{{ getLabel('email') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="4" formControlName="email" matInput>
                <mat-error *ngIf="email.hasError('maxlength')">{{ getHint("maxLength", email.errors.maxlength.requiredLength) }}</mat-error>
                <mat-error *ngIf="!email.hasError('maxlength') && email.hasError('email')">{{ getHint("invalid") }}</mat-error>
            </mat-form-field>
            <!-- Fax -->
            <mat-form-field>
                <mat-label>{{ getLabel('fax') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="5" formControlName="fax" matInput>
                <mat-error *ngIf="fax.hasError('maxlength')">{{ getHint("maxLength", fax.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <!-- Address -->
            <mat-form-field>
                <mat-label>{{ getLabel('address') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="6" formControlName="address" matInput>
                <mat-error *ngIf="address.hasError('maxlength')">{{ getHint("maxLength", address.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <div class="stacked-checkboxes">
                <!-- Primary -->
                <mat-checkbox formControlName="isPrimary">
                    <span>{{ getLabel("isPrimary") }}</span>
                </mat-checkbox>
                <!-- Active -->
                <mat-checkbox formControlName="isActive">
                    <span>{{ getLabel("isActive") }}</span>
                </mat-checkbox>
            </div>
            <div class="align-bottom">
                <!-- Metadata -->
                <metadata-panel [feature]="feature" [postAt]="form.value.postAt" [postUser]="form.value.postUser" [putAt]="form.value.putAt" [putUser]="form.value.putUser"></metadata-panel>
            </div>
        </form>

    </div>

    <div id="footer">
        <div id="align-right">
            <button (click)="onDelete()" *ngIf="form.value.id !== 0" class="delete" mat-flat-button>{{ getLabel("deleteButton") | uppercase }}</button>
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>

<mat-autocomplete #ships="matAutocomplete" [displayWith]="autocompleteFields.bind(this, 'description')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownShips | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>
