<div id="list-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [featureIcon]="featureIcon" [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <div id="table-wrapper">
            <p-table #table (onFilter)="filterRecords($event)" [scrollable]="true" [value]="records" [virtualScrollItemSize]="32" [virtualScroll]="true" dataKey="id" scrollHeight="flex" selectionMode="single" sortMode="multiple">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="width-5" pSortableColumn="isActive">{{ getLabel("headerIsActive") }}</th>
                        <th class="width-5" pSortableColumn="isPrimary">{{ getLabel("headerIsPrimary") }}</th>
                        <th class="width-24" pSortableColumn="fullname">{{ getLabel("headerFullname") }}</th>
                        <th class="width-25" pSortableColumn="shipDescription">{{ getLabel("headerShipDescription") }}</th>
                    </tr>
                    <tr>
                        <th class="width-5"><p-columnFilter field="isActive" type="boolean"></p-columnFilter></th>
                        <th class="width-5"><p-columnFilter field="isPrimary" type="boolean"></p-columnFilter></th>
                        <th class="width-24"><input (input)="table.filter($event.target.value, 'fullname', 'contains')" [value]="$any(table).filters['fullname']?.value" class="p-inputtext"></th>
                        <th class="width-25">
                            <p-columnFilter [showMenu]="false" field="ship" matchMode="in">
                                <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                                    <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="dropdownShips" [placeholder]="getEmoji('wildcard')" optionLabel="description">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-option">
                                                <span>{{ option.description }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                    </tr>
                </ng-template>
                <ng-template let-record pTemplate="body">
                    <tr (click)="highlightRow(record.id)" (dblclick)="editRecord(record.id)" [attr.id]=record.id class="without-footer" style="height: 32px;">
                        <td class="width-5"><span class="center no-left-padding" style="font-size: 0.5rem; padding-top: 0 !important;">{{ getEmoji(record.isActive) }}</span></td>
                        <td class="width-5"><span class="center no-left-padding" style="font-size: 0.5rem; padding-top: 0 !important;">{{ getEmoji(record.isPrimary) }}</span></td>
                        <td class="width-24"><span>{{ record.fullname }}</span></td>
                        <td class="width-25"><span>{{ record.ship.description }}</span></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>

    <div id="footer">
        <table-total-filtered-records (resetTableFilters)="resetTableFilters()" [filteredRecordCount]="recordsFilteredCount" [recordCount]="records.length"></table-total-filtered-records>
        <div id="align-right">
            <button (click)="newRecord()" class="primary" mat-flat-button>{{ getLabel("newRecord") | uppercase }}</button>
        </div>
    </div>

</div>
