<form [formGroup]="form" id="form">
    <mat-form-field id="date-picker">
        <mat-icon *ngIf="!isAdminOrNewRecord" class="material-icons-outlined small">lock</mat-icon>
        <mat-label>{{ label }}</mat-label>
        <input (dateInput)="emitFormValues()" [attr.datatabindex]=dataTabIndex [inputTabStop]="input" [matDatepicker]="picker" [readonly]=readOnly formControlName="date" matInput>
        <mat-datepicker-toggle [disabled]="!isAdminOrNewRecord" [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker>
            <mat-datepicker-actions>
                <button (click)="doTodayTasks()" class="accent" mat-flat-button matDatepickerApply>{{ getLabel('today') | uppercase }}</button>
                <button class="primary" mat-flat-button matDatepickerApply>{{ getLabel("ok") | uppercase }}</button>
            </mat-datepicker-actions>
        </mat-datepicker>
        <mat-hint *ngIf="showHint">{{ getLabel("hint") }}</mat-hint>
        <mat-error *ngIf="date.hasError('required')">{{ getHint("required") }}</mat-error>
    </mat-form-field>
</form>
