<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <form [formGroup]="form" id="form">
            <!-- CoachRoute -->
            <mat-form-field>
                <mat-label>{{ getLabel('coachRoute') }}</mat-label>
                <input #inputAutoComplete #triggerCoachRoute="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="coachRoutes" dataTabIndex="1" formControlName="coachRoute" matInput>
                <div matSuffix style="display:flex">
                    <button (click)="openOrCloseAutoComplete(triggerCoachRoute, 'coachRoute')" mat-icon-button type="button">
                        <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                    </button>
                </div>
                <mat-error *ngIf="coachRoute.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="!coachRoute.hasError('required') && coachRoute.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
            </mat-form-field>
            <!-- Port -->
            <mat-form-field>
                <mat-label>{{ getLabel('port') }}</mat-label>
                <input #inputAutoComplete #triggerPort="matAutocompleteTrigger" (keydown)="enableOrDisableAutoComplete($event)" (keyup)="checkForEmptyAutoComplete($event)" [inputTabStop]="input" [matAutocompleteDisabled]="isAutoCompleteDisabled" [matAutocomplete]="ports" dataTabIndex="2" formControlName="port" matInput>
                <div matSuffix style="display:flex">
                    <button (click)="openOrCloseAutoComplete(triggerPort, 'port')" mat-icon-button type="button">
                        <mat-icon class="input-suffix material-icons-outlined">expand_more</mat-icon>
                    </button>
                </div>
                <mat-error *ngIf="port.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="!port.hasError('required') && port.hasError('incorrect')">{{ getHint("invalid") }}</mat-error>
            </mat-form-field>
            <!-- Description -->
            <mat-form-field>
                <mat-label>{{ getLabel('description') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="3" formControlName="description" matInput>
                <mat-error *ngIf="description.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="description.hasError('maxlength')">{{ getHint("maxLength", description.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <!-- ExactPoint -->
            <mat-form-field>
                <mat-label>{{ getLabel('exactPoint') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="4" formControlName="exactPoint" matInput>
                <mat-error *ngIf="exactPoint.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="exactPoint.hasError('maxlength')">{{ getHint("maxLength", exactPoint.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <!-- Time -->
            <mat-form-field>
                <mat-label>{{ getLabel('time') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="5" formControlName="time" matInput>
                <mat-error *ngIf="time.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="!time.hasError('required') && !time.hasError('isTime')">{{ getHint("invalid") }}</mat-error>
            </mat-form-field>
            <!-- Remarks -->
            <mat-form-field>
                <mat-label>{{ getLabel('remarks') }}</mat-label>
                <textarea #input formControlName="remarks" id="textarea" matInput></textarea>
                <mat-hint class="right">{{ getHint("remainingCharacters", +input.getAttribute('maxlength') - getRemarksLength()) }}</mat-hint>
            </mat-form-field>
            <div class="stacked-checkboxes">
                <!-- Active -->
                <mat-checkbox formControlName="isActive">
                    <span>{{ getLabel("isActive") }}</span>
                </mat-checkbox>
            </div>
            <div class="align-bottom">
                <!-- Metadata -->
                <metadata-panel [feature]="feature" [postAt]="form.value.postAt" [postUser]="form.value.postUser" [putAt]="form.value.putAt" [putUser]="form.value.putUser"></metadata-panel>
            </div>
        </form>
    </div>

    <div id="footer">
        <div id="align-right">
            <button (click)="onDelete()" *ngIf="form.value.id !== 0" class="delete" mat-flat-button>{{ getLabel("deleteButton") | uppercase }}</button>
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
        </div>
    </div>

</div>

<mat-autocomplete #coachRoutes="matAutocomplete" [displayWith]="autocompleteFields.bind(this, 'abbreviation')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownCoachRoutes | async" [value]="option">
        {{ option.abbreviation }}
    </mat-option>
</mat-autocomplete>

<mat-autocomplete #ports="matAutocomplete" [displayWith]="autocompleteFields.bind(this, 'description')" autoActiveFirstOption>
    <mat-option *ngFor="let option of dropdownPorts | async" [value]="option">
        {{ option.description }}
    </mat-option>
</mat-autocomplete>
