<div id="list-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [featureIcon]="featureIcon" [feature]="feature" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <div id="table-wrapper">
            <p-table #table (onFilter)="filterRecords($event)" [(selection)]="selectedRecords" [scrollable]="true" [value]="records" [virtualScrollItemSize]="32" [virtualScroll]="true" dataKey="id" editMode="row" scrollHeight="flex" selectionMode="single" sortMode="multiple">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="width-3"></th>
                        <th class="width-5" pSortableColumn="isActive">{{ getLabel("headerIsActive") }}</th>
                        <th class="width-8" pSortableColumn="destination.abbreviation">{{ getLabel("headerDestinationAbbreviation") }}</th>
                        <th class="width-8" pSortableColumn="coachRoute.abbreviation">{{ getLabel("headerRouteAbbreviation") }}</th>
                        <th class="width-8" pSortableColumn="port.abbreviation">{{ getLabel("headerPortAbbreviation") }}</th>
                        <th class="width-18" pSortableColumn="description">{{ getLabel("headerDescription") }}</th>
                        <th class="width-10" pSortableColumn="exactPoint">{{ getLabel("headerExactPoint") }}</th>
                        <th class="width-5" pSortableColumn="time">{{ getLabel("headerTime") }}</th>
                        <th class="width-3"></th>
                    </tr>
                    <tr>
                        <th class="width-3"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
                        <th class="width-5"><p-columnFilter field="isActive" type="boolean"></p-columnFilter></th>
                        <th class="width-8">
                            <p-columnFilter [showMenu]="false" field="destination" matchMode="in">
                                <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                                    <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="dropdownDestinations" [placeholder]="getEmoji('wildcard')" optionLabel="description">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-option">
                                                <span>{{ option.description }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th class="width-8">
                            <p-columnFilter [showMenu]="false" field="coachRoute" matchMode="in">
                                <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                                    <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="dropdownCoachRoutes" [placeholder]="getEmoji('wildcard')" optionLabel="abbreviation">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-option">
                                                <span>{{ option.abbreviation }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th class="width-8">
                            <p-columnFilter [showMenu]="false" field="port" matchMode="in">
                                <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                                    <p-multiSelect (onChange)="filter($event.value)" [ngModel]="value" [options]="dropdownPorts" [placeholder]="getEmoji('wildcard')" optionLabel="description">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-option">
                                                <span>{{ option.description }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th class="width-18"><input (input)="table.filter($event.target.value, 'description', 'contains')" [value]="$any(table).filters['description']?.value" class="p-inputtext"></th>
                        <th class="width-10"><input (input)="table.filter($event.target.value, 'exactPoint', 'contains')" [value]="$any(table).filters['exactPoint']?.value" class="p-inputtext"></th>
                        <th class="width-5"><input (input)="table.filter($event.target.value, 'time', 'contains')" [value]="$any(table).filters['time']?.value" class="p-inputtext center"></th>
                        <th class="width-3"></th>
                    </tr>
                </ng-template>
                <ng-template let-editing="editing" let-record pTemplate="body" let-ri="rowIndex">
                    <tr (click)="onHighlightRow(record.id)" (dblclick)="onEditRecord(record.id)" [attr.id]=record.id [pEditableRow]="record" class="without-footer" style="height: 32px;">
                        <td class="width-3"><span class="no-left-padding center" style="padding-top: 0.25rem !important;"><p-tableCheckbox [value]="record"></p-tableCheckbox></span></td>
                        <td class="width-5"><span class="center no-left-padding" style="font-size: 0.5rem; padding-top: 0 !important;">{{ getEmoji(record.isActive) }}</span></td>
                        <td class="width-8"><span class="center">{{ record.destination.abbreviation }}</span></td>
                        <td class="width-8"><span class="center">{{ record.coachRoute.abbreviation }}</span></td>
                        <td class="width-8"><span class="center">{{ record.port.abbreviation }}</span></td>
                        <td class="width-18">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText [(ngModel)]="record.description">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ record.description }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td class="width-10">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText [(ngModel)]="record.exactPoint">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ record.exactPoint }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td class="width-5">
                            <p-cellEditor class="center">
                                <ng-template pTemplate="input">
                                    <input [(ngModel)]="record.time" pInputText>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ record.time }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td class="width-3">
                            <span class="edit-buttons center">
                                <div *ngIf="!editing" pInitEditableRow (click)="onRowEditInit(record)">{{ getEmoji('edit') }}</div>
                                <div *ngIf="editing" pSaveEditableRow (click)="onRowEditSave(record)">{{ getEmoji('ok') }}</div>
                                <div *ngIf="editing" pCancelEditableRow (click)="onRowEditCancel(record, ri)">{{ getEmoji('error') }}</div>
                            </span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>

    <div id="footer">
        <button [matMenuTriggerFor]="menu" class="fab fab-with-no-background" mat-icon-button>
            <mat-icon class="material-icons-outlined">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="primary">
            <ng-container *ngTemplateOutlet="contextMenu"></ng-container>
        </mat-menu>
        <table-total-filtered-records (resetTableFilters)="resetTableFilters()" [filteredRecordCount]="recordsFilteredCount" [recordCount]="records.length"></table-total-filtered-records>
        <div id="align-right">
            <button (click)="onCreatePdf()" [disabled]="recordsFilteredCount==0" class="secondary" mat-flat-button>
                <mat-icon *ngIf="recordsFilteredCount==0" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("createPdf") | uppercase }}</span>
            </button>
            <button (click)="onNewRecord()" class="primary" mat-flat-button>{{ getLabel("newRecord") | uppercase }}</button>
        </div>
    </div>

</div>

<ng-template #contextMenu>
    <button (click)="onDeleteRange()" mat-menu-item>
        <span>{{ getLabel('rangeDelete') }}</span>
    </button>
</ng-template>
