<div id="form-wrapper">

    <div id="content">

        <div id="header">
            <home-button-and-title [feature]="feature" [featureIcon]="featureIcon" [icon]="icon" [parentUrl]="parentUrl"></home-button-and-title>
        </div>

        <form [formGroup]="form" id="form">
            <!-- Description -->
            <mat-form-field>
                <mat-label>{{ getLabel('description') }}</mat-label>
                <input [inputTabStop]="input" dataTabIndex="1" formControlName="description" matInput>
                <mat-error *ngIf="description.hasError('required')">{{ getHint("required") }}</mat-error>
                <mat-error *ngIf="description.hasError('maxlength')">{{ getHint("maxLength", description.errors.maxlength.requiredLength) }}</mat-error>
            </mat-form-field>
            <div class="group-input-field">
                <!-- From Port -->
                <mat-form-field>
                    <mat-label>{{ getLabel('fromPort') }}</mat-label>
                    <input [inputTabStop]="input" dataTabIndex="2" formControlName="fromPort" matInput>
                    <mat-error *ngIf="fromPort.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="fromPort.hasError('maxlength')">{{ getHint("maxLength", fromPort.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <!-- From Time -->
                <mat-form-field>
                    <mat-label>{{ getLabel('fromTime') }}</mat-label>
                    <input [inputTabStop]="input" dataTabIndex="3" formControlName="fromTime" matInput>
                    <mat-error *ngIf="fromTime.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="!fromTime.hasError('required') && !fromTime.hasError('isTime')">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
            </div>
            <div class="group-input-field">
                <!-- Via Ports -->
                <mat-form-field>
                    <mat-label>{{ getLabel('viaPort') }}</mat-label>
                    <input [inputTabStop]="input" dataTabIndex="4" formControlName="viaPort" matInput>
                    <mat-error *ngIf="viaPort.hasError('maxlength')">{{ getHint("maxLength", viaPort.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <!-- Via Times -->
                <mat-form-field>
                    <mat-label>{{ getLabel('viaTime') }}</mat-label>
                    <input [inputTabStop]="input" dataTabIndex="5" formControlName="viaTime" matInput>
                    <mat-error *ngIf="!viaTime.hasError('required') && !viaTime.hasError('isTime')">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
            </div>
            <div class="group-input-field">
                <!-- Destination Port -->
                <mat-form-field>
                    <mat-label>{{ getLabel('toPort') }}</mat-label>
                    <input [inputTabStop]="input" dataTabIndex="6" formControlName="toPort" matInput>
                    <mat-error *ngIf="toPort.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="toPort.hasError('maxlength')">{{ getHint("maxLength", toPort.errors.maxlength.requiredLength) }}</mat-error>
                </mat-form-field>
                <!-- Destination Time -->
                <mat-form-field>
                    <mat-label>{{ getLabel('toTime') }}</mat-label>
                    <input [inputTabStop]="input" dataTabIndex="7" formControlName="toTime" matInput>
                    <mat-error *ngIf="toTime.hasError('required')">{{ getHint("required") }}</mat-error>
                    <mat-error *ngIf="!toTime.hasError('required') && !toTime.hasError('isTime')">{{ getHint("invalid") }}</mat-error>
                </mat-form-field>
            </div>
            <div class="stacked-checkboxes">
                <!-- Active -->
                <mat-checkbox formControlName="isActive">
                    <span>{{ getLabel("isActive") }}</span>
                </mat-checkbox>
            </div>
            <div class="align-bottom">
                <!-- Metadata -->
                <metadata-panel [feature]="feature" [postAt]="form.value.postAt" [postUser]="form.value.postUser" [putAt]="form.value.putAt" [putUser]="form.value.putUser"></metadata-panel>
            </div>
        </form>

    </div>

    <div id="footer">
        <div id="align-right">
            <button (click)="onDelete()" *ngIf="form.value.id !== 0" class="delete" mat-flat-button>{{ getLabel("deleteButton") | uppercase }}</button>
            <button (click)="onSave()" [disabled]="!form.valid" class="primary" mat-flat-button>
                <mat-icon *ngIf="!form.valid" class="material-icons-outlined">lock</mat-icon>
                <span>{{ getLabel("saveButton") | uppercase }}</span>
            </button>
        </div>

    </div>

</div>
