#form-wrapper {
    height: 100%;
    margin: 0 auto 0 auto;
}

#form {
    display: flex;
    flex-direction: column !important;
    height: 100%;
}

#form .group-input-field > date-picker {
    width: 100%;
}

#form .group-input-field:first-child {
    display: flex;
    margin: 0 0 0 auto;
    width: 33%;
}

#form .group-input-field:nth-child(2) {
    column-gap: 0.5rem;
    display: flex;
    height: 100%;
}

#form .group-input-field:last-child {
    display: flex;
    margin: 1.1875rem 0 0.1875rem auto;
    width: 33%;
}

#form .group-input-field:last-child .mat-mdc-checkbox {
    margin: 0 0 0 1rem;
}

@media (width <=1366px) {
    #form-wrapper {
        width: 100%
    }
}

@media (width > 1366px) {
    #form-wrapper {
        width: 80%
    }
}
